.container{
text-align: center;
margin-top: 3%;
}

.quantity{
 text-align: center;
}

.quantity_input{
 
  text-align: center;
  width: 4%;
}

.quantity_minus{
  text-align: center;
  width: 2%;
  background-color: gray;
}
.quantity_plus{
  text-align: center;
  width: 2%;
  background-color: gray;
}